# Visual Studio / Rider
*.suo
*.user
*.userprefs
*.csproj.user
*.vcxproj.user

# Unity / build artifacts
/SYSTEM-client-3d/Library/
/SYSTEM-client-3d/Temp/
/SYSTEM-client-3d/obj/
/SYSTEM-client-3d/Build/
*.apk
*.unitypackage
*.log

