# Visual Studio / Rider
*.suo
*.user
*.userprefs
*.csproj.user
*.vcxproj.user
.sfdx

# Logs
Logs/

# Secure
Secure/

# Music directory
/Music/

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

# Headless client build artifacts
SYSTEM-headless-client/bin/
SYSTEM-headless-client/obj/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
